<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProxyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B58F27CFE2D62335044518BCFF90A2F4D832ED61</string>
				<key>dateExpires</key>
				<string>10/11/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B58F27CFE2D62335044518BCFF90A2F4D832ED61</string>
						<key>dateExpires</key>
						<string>10/11/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>D2ZU83W7LV.com.increments.ProxyApp.ProxyAppVPN</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.networking.vpn.api</key>
						<array>
							<string>allow-vpn</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>D2ZU83W7LV</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.increments.ProxyApp</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>ProxyAppVPN.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>61ed9889-d58d-46f1-9c05-dadc422d8d5c</string>
						<key>dateExpires</key>
						<string>12/11/25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.increments.ProxyApp.ProxyAppVPN</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2ZU83W7LV</string>
						<key>name</key>
						<string>Md. Shafiqul Islam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D2ZU83W7LV.com.increments.ProxyApp</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>D2ZU83W7LV</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.increments.ProxyApp</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ProxyApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b007e748-f314-4e35-bb32-e8348e4c5d03</string>
				<key>dateExpires</key>
				<string>12/11/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.increments.ProxyApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D2ZU83W7LV</string>
				<key>name</key>
				<string>Md. Shafiqul Islam</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
